{% extends "base/base.html" %}
{% load static %}  


{% block content %}  

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="titulocentro">
    <p class="titulofact">VISUALIZACIÓN DE DATOS</p>
</div>
<div class="reportes" style="margin-top: 50px">
<canvas id="myChart" style="width:100%; max-width:650px; background-color: #012E40; border: solid #F2E3D5 4px; right: 100% !important;"></canvas>
<canvas id="myChartDos" style="width:100%; max-width:650px; background-color: #012E40; border: solid #F2E3D5 4px"></canvas>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for articulos in art %} '{{articulos.nombre}}', {% endfor %}],
            datasets: [{
                label: 'Productos mas vendidos',
                data: [{% for productos in prod %} {{productos}}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
            labels: {
                fontColor: "white",
            }
        },
        scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                        beginAtZero: true
                    }
                }], 
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        beginAtZero: true
                    }
                }]
            },
        }
    });

    const ctxDos = document.getElementById('myChartDos').getContext('2d');
  
    const labels = [
    'Enero',
    'Febrero',
    'Marzo',
    'Abril',
    'Mayo',
    'Junio',
    'Julio',
    'Agosto',
    'Septiembre',
    'Octubre',
    'Noviembre',
    'Diciembre',
    ];

    const myChartDos = new Chart(ctxDos, {
        type:'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Facturas de compra',
                data: [0, 0, 0, 0, 0, 0, {{ cantjul }}, {{ cantago }}, 0, 0, 0, 0],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1,
            }]
        },
        options: {
            legend: {
            labels: {
                fontColor: "white",
            }
        },
        scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                        beginAtZero: true
                    }
                }], 
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        beginAtZero: true
                    }
                }]
            },
        }
    });


    </script>
</div>
{% endblock %}

