{% extends "base/base.html" %}
{% load static %}


{% block content %}  

<div class="todo">
    <div class="cuadrado">
        <div class="cuadro uno">
            <button type="button" class="botonesabm uno">
                CLIENTE
            </button>
            <button type="button" class="botonesabm">
                <a href="{% url 'abmproveedor' %}">PROVEEDOR</a> 
            </button>
            <button type="button" class="botonesabm">
                <a href="{% url 'abmarticulo' %}">ARTICULO</a> 
            </button>
            <button type="button" class="botonesabm">
                <a href="{% url 'abmcategoria' %}">CATEGORIA</a> 
            </button>
            <button type="button" class="botonesabm">
                <a href="{% url 'abmusuario' %}">USUARIO</a> 
            </button>
            <button type="button" class="botonesabm">
                ROL 
            </button>
        </div>

        <div class="cuadrado dos">
            <div class="cuadro dos">
                <button type="button" class="botonagregar">
                    <a class="nav-link stock {% if '/agregar/' in request.path %} active {% endif %} prueba" aria-current="page" href="{% url 'agregar_cliente' %}"> AGREGAR</a>
                </button>
            </div>

            <div class="cuadro tres">
                <table>
                    <thead class="headtabledos">
                        <tr>
                            <th class="titulotabla">ID</th>        
                            <th class="titulotabla">CUIT</th>
                            <th class="titulotabla">RAZÓN/NOMBRE</th>
                            <th class="titulotabla">M/E</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if cli %}
                        {% for clientes in cli %}
                        <tr class="clientesabm">
                            <td class="contenidotabla">{{ clientes.id_cliente }}</td>        
                            <td class="contenidotabla">{{ clientes.cuit }}</td>
                            <td class="contenidotabla">{{ clientes.razon_nombre }}</td>
                            <td class="contenidotabla">
                                <a href="{% url 'modificar_cliente' clientes.id_cliente %}" class="btn btn-success" style="font-size: 70%;"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'modificar_cliente' clientes.id_cliente %}" class="btn btn-danger" style="font-size: 70%;"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
