{% extends "base/base.html" %}
{% load static %}


{% block content %}  
<div class="titulocentro">
    <p class="titulofact">ALTA, BAJA Y MODIFICACIÓN</p>
</div>
<div class="todo">
    <div class="cuadrado">
        <div class="cuadro uno">
            <button type="button" class="botonesabm uno">
                <a style="text-decoration:none; color: black" href="{% url 'Abm' %}">CLIENTE</a> 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmproveedor' %}">PROVEEDOR</a> 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmarticulo' %}">ARTICULO</a> 
            </button>
            <button type="button" class="botonesabm">
                CATEGORIA 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmusuario' %}">USUARIO</a> 
            </button>
        </div>

        <div class="cuadrado dos">
            <div class="cuadro dos">
                <button  style="background-color: #F2E3D5;" type="button" class="botonagregar">
                    <a style="text-decoration:none; color: black; margin-top: 25px;" class="nav-link stock {% if '/agregar/' in request.path %} active {% endif %} prueba" aria-current="page" href="{% url 'agregar_categoria' %}"> AGREGAR</a>
                </button>
            </div>

            <div class="cuadro tres">
                <table>
                    <thead class="headtabledosca">
                        <tr>
                            <th class="titulotablaca">ID</th>        
                            <th class="titulotablaca">NOMBRE</th>
                            <th class="titulotablaca">M/E</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if cat %}
                            {% for categorias in cat %}
                            <tr class="categoriaabm">
                                <td class="contenidotablaca">{{ categorias.id_categoria }}</td>        
                                <td class="contenidotablaca">{{ categorias.nombre }}</td>
                                <td class="contenidotablaca">
                                    <a href="{% url 'modificar_categoria' categorias.id_categoria %}" class="btn btn-success" style="font-size: 70%;"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{% url 'modificar_categoria' categorias.id_categoria %}" class="btn btn-danger" style="font-size: 70%;"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
