{% extends "base/base.html" %}
{% load static %}


{% block content %}  

<div class="todo">
    <div class="cuadrado">
        <div class="cuadro uno">
            <button type="button" class="botonesabm uno">
                <a style="text-decoration:none; color: black" href="{% url 'Abm' %}">CLIENTE</a> 
            </button>
            <button type="button" class="botonesabm">
                PROVEEDOR 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmarticulo' %}">ARTICULO</a> 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmcategoria' %}">CATEGORIA</a> 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmusuario' %}">USUARIO</a> 
            </button>
            <button type="button" class="botonesabm">
                ROL 
            </button>
        </div>

        <div class="cuadrado dos">
            <div class="cuadro dos">
                <button  style="background-color: #F2E3D5;" type="button" class="botonagregar">
                    <a style="text-decoration:none; color: black" class="nav-link stock {% if '/agregar/' in request.path %} active {% endif %} prueba" aria-current="page" href="{% url 'agregar_proveedor' %}"> AGREGAR</a>
                </button>
            </div>

            <div class="cuadro tres">
                <table>
                    <thead class="headtabledospr">
                        <tr>
                            <th class="titulotablapr">ID</th>        
                            <th class="titulotablapr">RAZÓN/NOMBRE</th>
                            <th class="titulotablapr">TELÉFONO</th>
                            <th class="titulotablapr">M/E</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pro %}
                            {% for proveedores in pro %}
                            <tr class="proveedorabm">
                                <td class="contenidotablapr">{{ proveedores.id_proveedor }}</td>        
                                <td class="contenidotablapr">{{ proveedores.razon_social }}</td>
                                <td class="contenidotablapr">{{ proveedores.telefono }}</td>
                                <td class="contenidotablapr">
                                    <a href="{% url 'modificar_proveedor' proveedores.id_proveedor %}" class="btn btn-success" style="font-size: 70%;"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{% url 'modificar_cliente' proveedores.id_proveedor %}" class="btn btn-danger" style="font-size: 70%;"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
