{% extends "base/base.html" %}
{% load static %}


{% block content %}  
<div class="titulocentro">
    <p class="titulofact">ALTA, BAJA Y MODIFICACIÓN</p>
</div>
<div class="todo">
    <div class="cuadrado">
        <div class="cuadro uno">
            <button type="button" class="botonesabm uno">
                <a style="text-decoration:none; color: black" href="{% url 'Abm' %}">CLIENTE</a> 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmproveedor' %}">PROVEEDOR</a> 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmarticulo' %}">ARTICULO</a> 
            </button>
            <button type="button" class="botonesabm">
                <a style="text-decoration:none; color: black" href="{% url 'abmcategoria' %}">CATEGORIA</a> 
            </button>
            <button type="button" class="botonesabm">
                USUARIO 
            </button>
        </div>

        <div class="cuadrado dos">
            <div class="cuadro dos">
                <button  style="background-color: #F2E3D5;" type="button" class="botonagregar">
                    <a style="text-decoration:none; color: black; margin-top: 25px;" class="nav-link stock {% if '/agregar/' in request.path %} active {% endif %} prueba" aria-current="page" href="{% url 'agregar_usuario' %}"> AGREGAR</a>
                </button>
            </div>

            <div class="cuadro tres">
                <table>
                    <thead class="headtabledosus">
                        <tr>
                            <th class="titulotablaus">ID</th>        
                            <th class="titulotablaus">USUARIO</th>
                            <th class="titulotablaus">NOMBRE</th>
                            <th class="titulotablaus">APELLIDO</th>
                            <th class="titulotablaus">EMAIL</th>
                            <th class="titulotablaus">M/E</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if user %}
                            {% for usuarios in user %}
                            <tr class="usuarioabm">
                                <td class="contenidotablaus">{{ usuarios.id }}</td>        
                                <td class="contenidotablaus">{{ usuarios.username }}</td>
                                <td class="contenidotablaus">{{ usuarios.first_name }}</td>
                                <td class="contenidotablaus">{{ usuarios.last_name }}</td>
                                <td class="contenidotablaus"></td>
                                <td class="contenidotablaus">
                                    <a href="{% url 'modificar_usuario' usuarios.id %}" class="btn btn-success" style="font-size: 70%;"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{% url 'modificar_usuario' usuarios.id %}" class="btn btn-danger" style="font-size: 70%;"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
