{% extends "base/base.html" %}
{% load static %}   
{% block content %}  

<!-- TIPO COMPROBANTE, NUMERO DEL COMPROBANTE, MONTO, FECHA -->

<div class="cregistro">
    <p style="background-color: #012E40; color: white; width: 500px; border: solid white 2px">REGISTRO COMPROBANTES DE COMPRA</p>
    <div class="tregistro">
        <table class="tbregistro">
            <thead class="htregistro">
                <th class="celdareg">Tipo comprobante</th>        
                <th class="celdareg">Nro comprobante</th>
                <th class="celdareg">Proveedor</th>  
                <th class="celdareg">Monto</th>
                <th class="celdareg">Descargar</th>
            </thead>
            <tbody class="bodyregistro">
                {% if regcom %}
                    {% if tipo %} 
                        {% for rc in regcom %}
                            {% for x in tipo %}
                                {% if rc.id_tipo_comprobante == x.id_tipo_comprobante %}
                                    {% for z in prov %} 
                                        {% if z.id_proveedor == rc.id_proveedor %}
                                            <tr>
                                                <td class="celdareg">{{x.nombre}} {{x.letra}}</td>
                                                <td class="celdareg">{{rc.numero}}</td>
                                                <td class="celdareg">{{ z.razon_social }}</td>
                                                <td class="celdareg">$  {{rc.monto_total}}</td>
                                                <td class="celdareg"><a href="{% url 'export-pdf' rc.id %}"><i class="fa-solid fa-file-pdf fa-lg"></i></a></td>
                                            </tr>
                                        {% endif %} 
                                    {% endfor %}
                                {% endif %} 
                            {% endfor %} 
                        {% endfor %} 
                    {% endif %} 
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}