<div class="tabla" style="text-align: -webkit-center;" >
    <p style="text-align: center;">ORIGINAL </p>
    <div class="datosfacturac">
        <div style="width: 50%;">
            <label style="font-weight: bold">Razón social:</label>
            <label style="font-weight: bold">Domicilio comercial:</label>               
            <label style="font-weight: bold">Condición frente al IVA: Responsable Monotributo </label>
        </div>
        <div style="width: 50%;">
            <label style="font-weight: bold">FACTURA</label>
            <label style="font-weight: bold">Punto de venta: </label>    
            <label style="font-weight: bold">Compra nro: </label>       
            <label style="font-weight: bold">Fecha de Emisión: </label>                  
            <label style="font-weight: bold">CUIT</label>
        </div>
    </div>

    <table class="table">
        <thead class="headtable">
            <th>Código</th>        
            <th>Producto</th>
            <th>Cantidad</th>
            <th>U. Medida</th>
            <th>Precio U.</th>
            <th>Bonificación</th>
            <th>Importe</th>
            <th>% IVA</th>
            <th>SUBTOTAL</th>
        </thead>
        <tbody>
            {% if comproc  %}
                    {% if deta %}
                        {% if art %}
                            {% for x in deta %} 
                                {% for i in art %}
                                    {% if x.id_comprobante_id == comproc.id %} 
                                        {% if x.id_articulo == i.id_articulo %} 
                                            <tr>
                                                <td style="text-align: center;">{{x.id_articulo}}</td>
                                                <td style="text-align: center;">{{i.nombre}}</td>
                                                <td style="text-align: center;">{{x.cantidad}}</td>
                                                <td style="text-align: center;">Vacio</td>
                                                <td style="text-align: center;">{{x.monto_unitario}}</td>
                                                <td style="text-align: center;">Vacio</td>
                                                {% if x.porcentaje_iva == 21 %} 
                                                    <td style="text-align: center;">{{ x.monto_unitario}}</td>
                                                {% else %} 
                                                    <td style="text-align: center;">{{ x.monto_unitario }}</td>
                                                {% endif %}
                                                <td style="text-align: center;">{{x.porcentaje_iva}}</td>
                                                <td style="text-align: center;">{{comproc.monto_total}}</td>
                                            </tr>
                                    {% endif %}
                                {% endif %} 
                            {% endfor %} 
                        {% endfor %} 
                    {% endif %}
                {% endif %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>        
                <td colspan="12">
                    <h6 style="float: right; font-size: 15px;">Monto total: {{comproc.monto_total}} </h6>
                </td>
            </tr>
        </tfoot>
    </table>
    </div>