.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 20px;
    background-color:#012E40 !important; 
    box-shadow: none !important;
    border:solid #F2E3D5;

}

.letra-boton-nav {
    margin-right: 10px;
    color: rgb(0, 0, 0) !important;
}

.nav-link.zz.yy{
    color:white;
}

.nav-link.active.zz.yy{
    color:white;
}

.logo{
    border: solid 0.5px white;
    border-radius: 10px;
}

.borde-boton-nav {
    background-color: rgba(236, 236, 236, 0.808);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 3px;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    left: 0;
    right: 0;
}

.container-fluid.inicio {
    width: 370px;
}

.recuadro.fact{
    background-color: black;
    text-align: center;
}

.datos{
    margin-left: 10px;
    text-align: left;
}

.tabla{
    grid-column-start:1;
    grid-column-end:4;
}

.text-center{
    color: white !important;
    background-color: #012E40 !important;
    border-color: white !important;
}

#ordenar {
    border: solid white;
}

.bodyordenar {
    background-color: #F2E3D5;
}

.table{
    background-color: #F2E3D5;
    color: rgb(0, 0, 0);
    grid-column-start:1;
    grid-column-end:4;
    border: solid white;
}

.recuadro.articulos {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color:  #F2E3D5;
    width: 400px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    border: solid black;
}

.row.busqueda {
    padding: 20px;
    border-radius: 0;
    bottom: 0px !important;
    width: -webkit-fill-available;
}

.recuadro.clientes {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color:  #F2E3D5;
    width: 550px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    border: solid black;
}

.recuadro.facturas {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color:  #F2E3D5;
    width: 350px; 
    height: 450px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    border: solid black;
}


.listadostabla {
    margin-left: 20px;
    margin-top: 10px;
    color:black;
}

.btn.btn-warning.btn-circle {
    width: 30%;
    margin-top: 10px;
}

.btn.concept {
    margin-bottom: 10px;
}

.fa-solid.fa-plus.cli{
    margin-left: 13px;
}

.btn.btn-success.cli {
    margin-right: 20px;
}

.tablaclientes {
    margin-left: 20px;
}

.celdacliente {
    width: 170px;
}

.celdacliente2 {
    border: solid 2px rgb(0, 0, 0);
    width: 180px;
}

.textcli {
    margin-left: 10px;
}

.nav.nav-masthead.justify-content-center.float-md-end {
    margin-right: 10px;
    margin-left: 20px;
    display: grid;
}

.headtable{
    background-color: #012E40;
    color: white;
    border-radius: 10px;
}

.bodybase {
    background: #024959;
    background-attachment: fixed;
}

.btn.btn-sm.btn.success.suma {
    color: white;
}

.btn.btn-sm.btn.success.resta {
    color: white;
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 7px;
}

#ordenar {
    margin-left: 30px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
    background-color: white;
}

#ordenar td, #ordenar th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ordenar tr:nth-child(even){background-color: #f2f2f2;}
#ordenar tr:hover {background-color: #ddd;}
#ordenar th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #012E40;
    color:white;
}

#tablastock {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: solid white;
}

#tablastock td, #tablastock th {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 8px;
}

#tablastock tr:nth-child(even){background-color: #F2E3D5;}
#tablastock tr:hover{background-color: #ddd;}
#tablastock th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #012E40;
    color:white;
}

#seccionstock{
    margin-top: 80px;
    margin-left: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.bprecio {
    display: none;
}

.busquedatexto {
    font-family: Verdana;
}

.bottons {
    margin-left: 10px;
    float: right;
}

.form-control.stock{
    float: left !important;
}

.formularioadd {
    margin-top: 100px;
}

.form-group.add{
    text-align: center;
}

.form-group.guardar{
    text-align: center;
}

.nav-link.stock{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.addproduct {
    color: white;
    text-align: center;
    margin-bottom: 20px !important;
    margin: auto;
    background-color: #198754;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
}

.contenedorlog {
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.contenedorreg {
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.form-control.login {
    margin-right: auto;
    margin-left: auto;
    width: 70% !important;
}

.form-control.registro {
    margin-right: auto;
    margin-left: auto;
    width: 100% !important;
}

.form-control.buscar:focus{
   box-shadow: none;
}

.boton.buscar:hover{
    background-color:#198754;

}

.paginador{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-top: 20px;
}

.page-item{
    width: 100px;
    grid-gap: 10px;
}

.page-link{
    border-radius: 5px !important;
    text-align: center;
}

/* HTML DE FACTURA */

.recuadro.uno{
    padding: 10px;
    background-color: #F2E3D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    border: solid white;
}

.tip-compr{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.num-punt{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 5px;
}

.num-punt-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.num-punt-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recuadro.dos{
    padding: 10px;
    background-color: #F2E3D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    border: solid white;
}

.recuadro.tres{   
    padding: 10px;
    background-color: #F2E3D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    border: solid white;
}

.recuadrotresinput{
    width: 150px;
}


.recuadrocolumna{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.columna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recuadroarticulos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

}

.btn_facturas{
    border-radius: 10px;
    padding: 5px;
    border: solid;
    border-color: #3F4450;
    background-color: #012E40;
    width: 250px;
    color: white;
}

.formulariofactura {
    margin-top: 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    left: 0;
    right: 0;
}

/* CSS DE REGISTROS */

.cregistro {
    margin-top: 100px;
    text-align: -webkit-center;
}

.tregistro{
}

.tbregistro{
    background-color: #F2E3D5;
    color: rgb(0, 0, 0);
    border: solid white;
}

.htregistro{
    background-color: #012E40;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
}

.celdareg{
    width: 200px;
    text-align: left;
    padding: 10px;
    text-align: -webkit-center;
}

/* HTML DE ABM */ 

.todo{
    margin-right: auto;
    margin-left: auto;
}

.cuadrado {
    margin-top: 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 45% 50%;
}

.botonesabm{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 40%;
    border-radius:4px;
    background-color: #F2E3D5;
}

.cuadrado.dos{
    display: inline-block;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    margin-top: 0px;
}

.cuadro {
    border-radius:4px;
    border:1px solid #bbb;
    display: inline-block;
    display: grid;
    grid-gap: 20px;
}

.cuadro.uno{
    background-color: #012E40;
    text-align: center;
    width: 200px;
    height: 700px;
    margin-left: auto;
    align-items: center;
}

.cuadro.dos{
    background-color: black;
    text-align: center;
    width: 500px;
    height: 100px;
}

.cuadro.tres{
    background-color: #012E40;
    text-align: center;
    width: 500px;
    height: 580px;
}

.clientesabm {
    color: white;
    display: flex;
}

.headtabledos {
    background-color: #012E40;
    color: white;
}

.titulotabla{
    display: inline-block;
    width: 25%;
}

.contenidotabla {
    display: inline-block;
    width: 25%;
}

.proveedorabm {
    color: white;
    display: flex;
}

.headtabledospr {
    background-color: #012E40;
    color: white;
}

.titulotablapr {
    display: inline-block !important;
    width: 25% !important; 
}

.contenidotablapr {
    display: inline-block !important;
    width: 25% !important;
}

.articulosabm {
    color: white;
    display: flex;
}

.headtabledosar {
    background-color: #012E40;
    color: white;
}

.titulotablaar{
    display: inline-block;
    width: 20%;
}

.contenidotablaar {
    display: inline-block;
    width: 20%;
}

.categoriaabm {
    color: white;
    display: flex;
}

.headtabledosca {
    background-color: #012E40;
    color: white;
}

.titulotablaca {
    display: inline-block;
    width: 33%;
}

.contenidotablaca {
    display: inline-block;
    width: 33%;
}

.usuarioabm {
    color: white;
    display: flex;
}

.headtabledosus {
    background-color: #012E40;
    color: white;
}

.titulotablaus {
    display: inline-block;
    width: 16%;
}

.contenidotablaus {
    display: inline-block;
    width: 16%;
}

